header{
	background-color: #0d7002;
	padding: 40px 40px 40px 40px;
}

h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 400px;
	
}


/*<header>
			<img src="img/Gon_Juice_scene_ep_3.jpg">
			<h1>Gon Freecss</h1>
		</header>